
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Periode%209/Hoornbeeck-techniek/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Periode%209/Hoornbeeck-techniek/wordpress/index.php [L]
</IfModule>

# END WordPress